:root {
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --footer-contact-color:rgba(255, 255, 255, 0.6);
    --logo-black:#000000;
    --hero-footer-bg-color: #2F303A;
    --hero-btn-color-accent:#188CE8;
    --secondary-bg-color:#F5F4FA;
    --line-border-color:#ECECEC;
} 
body{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
    margin: 0;
}
img{
    display: block;
}
.text{
    color:var(--secondary-text-color);
}
.title{
    color: var(--primary-text-color);
    font-weight: 700;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section:nth-child(3) {
    padding-top: 0;
  }

        /* Шапка сайта */
.header{
    border-bottom: 1px solid var(--line-border-color);
}
.header-container{
    display: flex;
}
.nav{
    display: flex;
    justify-content: center;
}
.header-logo{
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    color: var(--logo-black);
    font-family: Raleway, serif;
    font-size: 26px;
    line-height: 1.2;
}
.header-logo > span{
    color: var(--accent-color);
}
.nav-list{
    display: flex;
    justify-content: center; 
    padding: 0;
}
.nav-list .item:not(:last-child){
    margin-right: 50px;
}
.nav-link{
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
}
.current{
    color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}

.contact{
    margin-left: auto;
}
.nav-contact{
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--secondary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
}
.nav-contact:hover,
.nav-contact:focus{
    color: var(--accent-color);
}

        /* Герой */
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-footer-bg-color);
    color: var(--primary-white-color);
    text-align: center;
}

.hero-title{
 
    margin: 0 0 30px 0;

    font-weight: 900;
    letter-spacing: 0.06em;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}
.hero-button{
    display: inline-block;
    min-width: 200px;

    padding: 10px 32px;
    letter-spacing: 0.06em;
    border-radius: 4px;

    color: var(--primary-white-color); 
    background-color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    cursor: pointer;
}
.hero-button:hover{
    background-color: var(--hero-btn-color-accent);
    border-radius: 4px;
}
        /* Достоинства */
.feature-list{
    display: flex;
    padding: 0;
    text-align: left;
}
.feature-item{
    width: 270px;

}
.feature-item:not(:last-child){
    margin-right: 30px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
 .feature-title{
     margin: 0 0 10px 0;
     line-height: 1.14;
     text-transform: uppercase;
     font-size: 14px;
}
.feature-text{
    margin: 0;
    line-height: 1.71;
} 

        /* Деятельность */
.performance-title{
    margin: 0 0 50px 0;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.performance-list{
    display: flex;
    padding: 0;
}
.performance-item:not(:last-child){
    margin-right: 30px;
}

        /* Команда */
.team{
    background-color: var(--secondary-bg-color);
}
.team-title{
    margin: 0 0 50px 0;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.team-list{
    display: flex;
    padding: 0;
}
.team-item{
    background-color: var(--primary-white-color);
    text-align: center;
}
.team-item:not(:last-child){
    margin-right: 30px;
}
.card-team{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-text{
    margin: 0;
    line-height: 1.18;
}
.team-caption{
    margin: 0 0 10px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
        /* Подвал */
.footer{
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--hero-footer-bg-color); 
    
}
.footer-logo{
    display: inline-block;

    margin-bottom: 20px;

    color: var(--primary-white-color);
    font-family: Raleway, serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.footer-logo > span{
    color: var(--accent-color);

}
.address{
    
}
.footer-text{
    margin: 0 0 9px 0;

    color: var(--primary-white-color);
    line-height: 1.85;
    font-style: normal;
}
.footer-contact{
    display: block;

    color: var(--footer-contact-color);
    line-height: 1.71;
    font-style: normal;
}
.footer-contact:not(:last-child){
    margin-bottom: 9px;
}
.footer-contact:hover,
.footer-contact:focus{
    color: var(--accent-color);
}
/* Страница Портфолио */

.filter-list{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    padding: 0;
}
.filter-item{
    margin-right: 8px;
}
.filter-item:last-child{
    margin-right: 0;
}
.filter-btn{
    min-width: 73px;
    max-width: 200px;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.03em;
}
.filter-btn:hover,
.filter-btn:focus{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.filter-current{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.portfolio-list{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item{
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
/* .filter-link img{
    display: block;
} */
.portfolio-item:nth-child(3n) {
    margin-right: 0;
  }
  .card{
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
.portfolio-title{
    margin: 0 0 4px 0;
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-text{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
}